/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/chat/chat.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.chat_chatBody__6T2eV {

    margin-bottom: 1rem;

    display: flex;

    height: 10%;

    width: 100%;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;

    gap: 1rem;

    --tw-bg-opacity: 1;

    background-color: rgb(23 22 26 / var(--tw-bg-opacity, 1));

    font-size: 1rem;

    line-height: 1.5rem;

    --tw-text-opacity: 1;

    color: rgb(255 255 255 / var(--tw-text-opacity, 1));

    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;

    transition-duration: 200ms;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.chat_chatBody__6T2eV:hover {

    border-radius: 0.375rem;

    --tw-bg-opacity: 1;

    background-color: rgb(39 39 41 / var(--tw-bg-opacity, 1))
}

.chat_chatBodyActive___I21D {

    --tw-bg-opacity: 1;

    background-color: rgb(39 39 41 / var(--tw-bg-opacity, 1))
}

.chat_chatProfile__SfX69 {

    display: flex;

    height: 100%;

    width: auto;

    align-items: center
}

.chat_chatInfo__sc7Z0 {

    display: flex;

    height: 100%;

    width: 100%;

    flex-direction: column
}

.chat_chatName__Qp1ue {

    height: 100%;

    width: 100%;

    text-align: left;

    font-weight: 600
}

.chat_chatBox__6Wu9R {

    display: flex;

    height: 100%;

    width: 100%;

    flex-direction: row;

    align-items: center;

    justify-content: flex-start;

    gap: 0.5rem;

    text-align: left
}

.chat_chatBoxMessage__dIBej {

    height: 100%;

    width: auto;

    max-width: 80%
}

.chat_chatBoxTime__Btexd {

    height: 100%;

    width: auto;

    max-width: 20%
}

